@{
    ViewBag.Title = "Aanmelden";
}

@if (Session["Klant"] != null)
{
    <h3 style="font-weight:bold"><a href="/Home/Genres">Ga naar verhuringen</a></h3>
}
else
{
    <h3 style="font-weight:bold"><a href="/Home/Index">Foutieve gegevens, probeer opnieuw</a></h3>
}
