@model Videoverhuur.Models.Klant

    @{
ViewBag.Title = "Home"; 
}
<form method="post" action="~/Home/Aanmelden" class="form-horizontal">
    <div class="form-group">
        <label class="col-md-2 control-label">Naam</label>
        <p><input name="naam" id="naam" type="text" class="form-control" /></p>
    </div>
    <div class="form-group">
        <label class="col-md-2">Postcode</label>
        <p><input name="postcode" id="postcode" type="text" class="form-control" /></p>
    </div>
    <input type="submit" name="zoek" value="Aanmelden" class="btn" />
</form>
