 @{
ViewBag.Title = "Home"; 
}
<form method="post" action="~/Home/Aanmelden" class="form-horizontal">
    <div >
        <label>Naam</label>
        <p style="padding-left:40px"><input name="naam" id="naam" type="text" class="form-control" /></p>
    </div>
    <div >
        <label>Postcode</label>
        <p style="padding-left:40px"><input name="postcode" id="postcode" type="text" class="form-control" /></p>
    </div>
    <br />
    <input type="submit" name="zoek" value="Aanmelden" class="btn" />
</form>
