@using MVCBierenApplication.Models
@model  List<Bier>

@{
    ViewBag.Title = "Index";
}

<h2>Alle Bieren</h2>
<ul>
    @foreach(var bier in Model)
    {
        var url = Url.Action("Verwijderen", "Bier", new { ID = bier.ID });    
        <li> @Html.DisplayFor(m => bier.ID) @bier.Naam @Html.DisplayFor(m => bier.Alcohol) <a href="@url"><img src="~/Images/delete.png" alt="Delete" /></a></li>
        <p></p>
    
    }
</ul>

