
@{
    ViewBag.Title = "Index";
}

<h2>Fibonacci</h2>
@{
	int a = 0;
	int b = 1;
    int temp;
	<p>
	@for (int i = 0; i < 15; i++)
	{
       @a @:,
	    temp = a;
	    a = b;
	    b = temp + b;
       
	}
   </p>
}	
   