<div class="jumbotron">
     <h1>Session en application state</</h1>
     <p class="lead">Session- en applicationvariabele werden gewist.</p>
     <p><a href="~/Home/Index" class="btn btn-primary btn-lg">Terug naar indexpagina &raquo;</a></p>
 </div>