<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/MVC_Tuincentrum</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TuincentrumEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=.\sqlexpress;Initial Catalog=MVC_Tuincentrum;User ID=kurt;Password=12348765" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MVC_Tuincentrum.Models.TuincentrumEntities, MVC_Tuincentrum" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TuincentrumEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Tuincentrum.csdl|res://*/Models.Tuincentrum.ssdl|res://*/Models.Tuincentrum.msl;provider=System.Data.SqlClient;provider connection string="Data Source=.\sqlexpress;Initial Catalog=MVC_Tuincentrum;User ID=kurt;Password=12348765"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>