
@{
    ViewBag.Title = "HoofdZetel";
}

<h2>HoofdZetel</h2>
 <p>Straat: @ViewBag.HoofdZetel.Straat</p>
 <p>Huisnr: @ViewBag.HoofdZetel.HuisNr</p>
 <p>Postcode: @ViewBag.HoofdZetel.PostCode</p>
 <p>Gemeente: @ViewBag.HoofdZetel.Gemeente</p>
